.body1{
    background-image: url(images/room.jpg);
    background-repeat: no-repeat;
    background-position: center;
    
   
    width: 100%;
    height: 500px;
    margin: 0%;

}
.nav1 ul li  {
display: inline-block;
justify-content: left;
list-style-type: none;
padding: 25px;
}
.nav1 i{
    
}

.search{
    padding-left: 20px;
    width: 400px;
    color: lightgrey;
    height: 20px;
    border-radius: 10px;
}
#wad{
    float: left;
}
.icons{
position: relative;
top: 35px;
float: left;

}
#icon11{
    position: absolute;bottom: 12px;left: 380px;width: 10px; height: 10px;
}
#icon22{
position: absolute; bottom: 12px; left: 400px; width: 10px; height: 10px;

}
#smiles{
    position: relative;
    padding-right: 140px;
    top: 15px;
}


#icon33{
position: absolute;bottom: 5px;
padding-left: 6px;
}
.nav3{
    text-align: center;
}
.words2{
    text-align: center;
    color: #020629;
    font-weight: bold;
}
#button3{
background-color: #ffac7d;
}
#home{
    color: #ffac7d;
}
#kitchen{
    width: 28%;
    padding: 50px;
    

  
}
#ceiling{
    width: 28%;
    padding: 50px;

}
#staircase{
    width: 25%;
    padding: 50px; 
}
#explore{
    padding-left: 25px;
    position: relative;
    bottom: 18px;

}
.titles ul li{
list-style-type: none;

}

#mod{
    background-color: #ffac7d;
    padding: 5px;
    border-radius: 5px;
    width: 5px ;
    margin-left: 5%;
    position: relative;
    left: 100px;
    
    
}
#sic{
    padding: 400px;
    position: relative;
    left: 50px;
}
#sca{
margin-right: 2%;
padding-left: 7px;

}
.div100{
    background-color: #ffffff;
    border-style: hidden;
    height: 350px;
}
.words{
    margin-left: 20px;
    
}
.images{
    display: flex;
    position: relative;
    bottom: 45px;
    
    
    
}
#button2{
    background-color: #ffac7d;
    padding: 7px;
    border-radius: 30px;
    
}
#button3{
    background-color: #ffac7d;
    border-radius: 30px;
    padding: 7px;
    align-content: center;

}
#button31{
    padding-left: 500px;
    position: relative;
    bottom: 125px;
    
}
#p1{
    width: 17%;
    padding: 30px;
    padding-left: 100px;
    
    
}
#p2{
    width: 20%;
    padding: 30px;
    
}
#p3{
    width: 14%;
    padding: 30px;
    padding-top: 10px;
    
}
.image2{
    background-color: #002d3d;
    border-style: hidden;
    height: 550px;

}
#button39{
    padding-left: 500px;
    align-content: center;
}
#pop{
    color: #ffac7d;
    font-weight: bolder;
    padding-top: 50px;
    padding-left: 100px;
}
#line1{
    text-decoration: underline;
}
#line2{
    text-decoration: underline;
}
#line3{
    text-decoration: underline;
}
.div2{
    border-radius: 50%;
    width: 550px;
    border-style: hidden;
    background-color: #ecc4ac;

}
.div2 p{
    text-align: center;
    font-weight: lighter;
}
#phrase5{
    text-align: center;
}
.div3{
    border-style: hidden;
    background-color: #ffe5d6;
    display: flex;
    padding: 50px;
    height: 500px;
    
}
#image5{
height: 400px;
margin-left: 7%;
}
.div4{
background-color: #ffffff;
border-style: hidden;
height: 200px;
text-align: center;
}
.div5{
    background-color: #002d3d;
    border-style: hidden;
    display:flex;
    justify-content: center;
    
}
.div5 ul li{
    list-style-type: none;
    padding: 10px;
    color: #ffffff;
    
}
#icon1{
    color: #ffffff;
    padding: 7px;
    text-decoration: none;
}
#icon2{
    color: #ffffff;
    padding: 7px;
    text-decoration: none;
}
#icon3{
    color: #ffffff;
    padding: 7px;
    text-decoration: none;
}
.div99 ul li{
    list-style-type: none;
    padding: 10px;
    display: flex;

}
.prices ul li{
list-style-type: none;
margin-right: 50px;
color: #ffffff;
padding-left: 25px;



}
.prices{
    display: flex;

    padding-left: 100px;

}
#button77{
    background-color: #ffac7d;
    border-radius: 10px;
    width: 5%;

}
#email{
    border-radius: 10px;
    width: 20%;
    height: 20px;
}

